@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: var(--font-primaria);
}

:root{
    --font-primaria: "Poppins", sans-serif;
    --color-btn: #307203;
    --color-btn-dark: #050505;
    --color-background: #060e1b;
    
}

body {
    font-family: var(--font-primaria);
    background: rgb(0,189,255);
    background: linear-gradient(130deg, rgba(0,189,255,1) 0%, rgba(14,16,50,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
}

.container {
    color: white;
    background: var(--color-background);
    padding: 20px 20px; /* Ajusta o padding para criar mais espaço interno */
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    position: relative;
    max-height: 700px; /* Define a altura máxima do contêiner */
    overflow: auto; 
    
}

/* Personaliza a largura da barra de rolagem */
.container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
}

/* Personaliza o estilo da parte que é rolada */
.container::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(0,189,255,1) 10%, rgba(9,81,127,1) 33%, rgba(14,16,50,1) 61%); /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada do "polegar" */
    transition: background 3.5s ease; /* Transição suave para a cor do "polegar" */
}

/* Estilo do "trilho" da barra de rolagem */
.container::-webkit-scrollbar-track {
    background: transparent; /* Cor de fundo do trilho */
    border-radius: 50%; /* Borda arredondada do trilho */
}

/* Estilo do "polegar" quando estiver em hover */
.container::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, rgba(0,189,255,1) 7%, rgba(0,183,248,1) 26%, rgba(9,81,127,1) 50%, rgba(14,16,50,1) 74%); /* Cor do "polegar" quando o usuário passa o mouse sobre ele */
}

.container-actions{

    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}

input[type="text"], input[type="tel"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#add-contact-btn {
    height: 40px;
    width: 40px;
    padding: 5px;
    background: #0d0f0c70;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease; /* Adiciona transição para transformação */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(130deg, rgba(0,189,255,1) 41%, rgba(6,14,27,1) 93%);
    background-size: 200% 200%; /* Aumenta o tamanho do fundo para criar o efeito de movimento */
}

@keyframes reflection {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#add-contact-btn:hover {
    transform: scale(1.08); /* Efeito de zoom */
    animation: reflection 2s infinite; /* Animação de reflexo */
}

ul {
    list-style: none;
    padding: 0;
}
.contact-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right:0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.contact-main{

    flex: 1;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 800;
    color: #ebe8e8;
   
}
.contact-main img{
    margin-right: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color-background);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background 2.0s ease;
    background-size: 600% 100%; /* Aumenta o tamanho do fundo para criar o efeito de transição */
    background-position: right center; /* Posição inicial do fundo */
}

li:hover {
    background-image: linear-gradient(130deg,rgba(0,189,255,1)  61%, rgba(6,14,27,1) 93%);
    background-position: left center; /* Move o fundo para criar o efeito de preenchimento */
    transform: scale(1.08); /* Efeito de zoom */
}


li button {
    margin-left: 10px;
}


li .delete {
    border: none;
    color: rgb(83, 80, 80);
    border-radius: 100px;
    margin-left: 2px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background 0.3s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
        
    }
    25% {
        
        transform: translateX(-3px);
    }
    50% {
       
        transform: translateX(3px);
    }
    75% {
        
        transform: translateX(-3px);
    }
}

li .delete:hover {
    color: rgb(0, 0, 0);
    animation: shake 1.0s infinite; /* Aplica a animação de chacoalhar */
}

.modal-hidden {
    display: none;
}

.modal-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor do fundo com opacidade */
    backdrop-filter: blur(8px); /* Adiciona o efeito de desfoque */
    
}

.modal-content {
    
    font-family: var(--font-primaria);
   
    background: rgb(0,189,255);
    background: linear-gradient(130deg, rgba(0,189,255,1) 5%, rgba(14,16,50,1) 86%);
   
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content-header{

    width: 300px;
    padding-inline:  10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#modal-title{
    font-size: large;
    color: white;
}


#contact-modal-title{
    padding: 0px;
    text-align: start;
    color: #ffffff;
    font-size: large;
}


#contact-name-display{
    font-size: large;
    font-weight: 800;
    color: white;
}
.label-name{
    font-size: 12px;
    font-weight: 600;
    color: #f0efef;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

.close-btn {
    
    cursor: pointer;
    font-size: 205px;
    color: #ff0000;
    transition: transform 0.2s ease, color 0.2s ease; /* Adiciona transições para o tamanho e a cor */
}

.close-btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
}


.modal-content-card-background{
    padding-top: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
   

    
}
#contact-photo:hover{
    transform: scale(1.15);
    
}
#contact-form p, #contact-form input {
    margin-bottom: 10px;
}

.contact_hr{
    width: 100%;
}

#contact-save-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-btn);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border: none;
    transition: transform 0.3s;
}

#contact-save-btn:hover {
    transform: scale(1.05);
    background-position: -100% 0;
}

#search {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    width: calc(100% - 80px);
    font-size: medium;
    transition: transform 0.2s ease; /* Adiciona uma transição suave */
}

/* Efeito de zoom no hover */
#search:hover {
    transform: scale(1.01); /* Aumenta o tamanho em 5% */
}


.warning {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #C93847;
    color: white;
    font-size: large;
    line-height: 100%;
    width: 25%;
    bottom: 10px;
    padding: 12px;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.warning div {
    display: flex;
    align-items: center;
}

.error-icon{
    margin-right: 10px;
}

#modal-form{
    display: flex;
    flex-direction: column;
}
#modal-submit-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-btn);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border: none;
    transition: transform 0.3s;
}

#modal-submit-btn:hover {
    transform: scale(1.05);
    background-position: -100% 0;
}
